@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ikwp-white: #FFFFFF;
  --color-ikwp-gray-1: #F7F7F7;
  --color-ikwp-gray-2: #00000029;
  --color-ikwp-orange-1: #FF7349;
  --color-ikwp-purple: #31397C;
  --color-ikwp-black: #000000;
  --color-ikwp-orange-2: #F15B2F;
  --color-ikwp-green: #107B56;
  --color-ikwp-gray-3: #E6E6E6;
  --color-ikwp-maroon: #6B1F10;

  --font-lexend: "Lexend", "serif";

  --shadow-ikwp: 8px 15px 25px #00000029;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
